## Changing Options with Attributes and Dot Syntax

In [3]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np

In [5]:
#create a numpy of random data points between 0-100 of size 1000-50
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,36,89,7,16,41,53,75,17,93,59,...,54,29,66,9,11,29,91,54,83,16
1,18,70,15,94,36,21,75,99,71,40,...,23,94,87,78,88,27,85,74,67,5
2,51,96,99,33,79,16,47,5,80,39,...,69,98,59,54,21,57,15,38,35,2

In [6]:
#set the maximum columns that pandas will display to 8
pd.options.display.max_rows = 8

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,36,89,7,16,41,53,75,17,93,59,...,54,29,66,9,11,29,91,54,83,16
1,18,70,15,94,36,21,75,99,71,40,...,23,94,87,78,88,27,85,74,67,5
2,51,96,99,33,79,16,47,5,80,39,...,69,98,59,54,21,57,15,38,35,2
3,75,85,10,42,59,95,15,81,1,59,...,63,88,53,11,3,40,56,20,39,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0,90,61,27,49,39,7,7,30,62,...,9,99,20,92,3,50,66,57,27,44
997,2,6,50,51,84,12,16,91,96,98,...,75,51,36,68,53,63,79,40,89,9
998,44,68,78,58,95,4,89,40,7,20,...,42,72,63,6,79,60,53,61,70,54
999,13,5,35,62,15,61,87,30,32,67,...,95,29,5,13,56,34,48,79,23,22

In [9]:
#display a maximum of 8 columns
pd.options.display.max_columns = 8

In [10]:
df

     0   1   2   3   ...  46  47  48  49
0    36  89   7  16  ...  91  54  83  16
1    18  70  15  94  ...  85  74  67   5
2    51  96  99  33  ...  15  38  35   2
3    75  85  10  42  ...  56  20  39  64
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
996   0  90  61  27  ...  66  57  27  44
997   2   6  50  51  ...  79  40  89   9
998  44  68  78  58  ...  53  61  70  54
999  13   5  35  62  ...  48  79  23  22

[1000 rows x 50 columns]

## Changing pandas Options with Method

In [11]:
data = np.random.randint(0, 100, [1000,50])
df = pd.DataFrame(data)
df

     0   1   2   3   ...  46  47  48  49
0    65  47  40  28  ...  28  77  99  51
1     6  10  93  57  ...  49  85  52  55
2    89  23  51  94  ...  39  57   4   6
3    12  83  93  30  ...  84  58  29  94
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
996   4  32   1  36  ...  69  94  41  84
997  12  48  28  60  ...  48  52  35  15
998  38  56  69   8  ...  21  75  19  61
999  37  70   4  86  ...  14  64   0  11

[1000 rows x 50 columns]

In [12]:
pd.get_option("max_rows")

8

In [13]:
pd.get_option("max_columns")

8

In [15]:
pd.set_option("max_columns", 20)

In [19]:
pd.get_option("max_columns")

20

In [20]:
#reset the option to the default
pd.get_option("max_columns")

20

In [21]:
#reset the option to the default
pd.get_option("max_row")

16

In [22]:
#to know what an option does exactly
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The precision Option

In [25]:
#Create a dataframe of random numbers betwee
pd.DataFrame(np.random.randn(5,5))

          0         1         2         3         4
0 -1.575584  0.105505  2.123980  0.637507 -1.210587
1  1.909282 -0.325180 -1.071590 -0.459571 -0.575896
2 -1.368321 -0.323168 -0.856513 -0.392524  0.213248
3 -1.060706 -1.221968 -0.053660  2.701953 -1.490719
4 -0.764209  0.588172 -0.960605 -0.541197 -1.498932

In [27]:
#see the default precesion in pandas
pd.get_option("precision")

6

In [30]:
#change the precision
pd.set_option("precision", 2)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,65,47,40,28,16,44,41,30,42,66,...,79,28,36,84,37,58,28,77,99,51
1,6,10,93,57,81,52,75,65,9,78,...,46,65,39,50,68,44,49,85,52,55
2,89,23,51,94,5,55,90,76,9,70,...,36,61,86,49,71,28,39,57,4,6
3,12,83,93,30,0,92,42,4,92,96,...,84,64,79,98,63,96,84,58,29,94
4,39,32,97,46,55,9,5,5,41,79,...,21,68,49,88,33,81,14,37,48,47
5,64,28,55,13,82,92,41,91,26,95,...,90,15,74,89,10,76,56,82,1,7
6,65,29,54,99,56,7,37,32,3,24,...,78,26,89,42,61,59,41,65,8,26
7,91,36,34,21,78,4,42,55,14,1,...,34,39,94,76,37,48,4,65,18,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,5,27,19,40,42,45,56,35,20,52,...,11,6,82,25,65,60,23,59,18,70
993,19,96,68,73,24,5,67,95,93,16,...,36,8,48,49,11,85,93,2,0,56
994,28,43,71,75,77,99,53,75,77,11,...,77,65,13,95,28,90,36,41,15,61
995,31,17,54,26,89,62,54,12,46,41,...,4,66,2,5,29,68,97,34,87,50
996,4,32,1,36,15,78,6,56,65,48,...,7,80,29,60,52,95,69,94,41,84
997,12,48,28,60,67,53,78,97,50,35,...,23,16,99,34,63,18,48,52,35,15
998,38,56,69,8,45,64,54,35,20,1,...,84,23,29,38,45,44,21,75,19,61
999,37,70,4,86,82,85,81,85,26,55,...,60,59,48,50,27,36,14,64,0,11

In [31]:
#reset the option back to defualt
pd.reset_option("precision")